<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        .m30 {
            margin-left:30px;
        }
    </style>
</head>

<body>
    
    <div class="navbar m30">
        <h1 onclick="location.href='/'">안녕하세요</h1>
        <a href="/login">login</a>
        <a href="/register">register</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
    </div>

    <hr>
    <div class="m30">
        <form action="/todo" method="post">
            <table>
                <tr>
                    <th colspan="2">
                        <h2>todo</h2>
                    </th>
                </tr>
                <tr>
                    <th>title</th>
                    <td><input type="text" name="title" id=""></td>
                </tr>
                <tr>
                    <th>content</th>
                    <td><input type="text" name="content" id=""></td>
                </tr>
                <tr>
                    <th>date</th>
                    <td>
                        <input type="date" name="date" id="">
                    </td>
                </tr>
                <tr style="text-align: right">
                    <td colspan="2"><input type="submit" value="Check!"></td>
                </tr>
            </table>
        </form>
    </div>
    <hr>
    <div class="m30">
        <table>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
            <% for(let i=0; i< posts.length; i++) { %>
                <tr id="post<%=posts[i]._id%>">
                    <td>
                        <%= i+1 %>
                    </td>
                    <td><a href="/detail/<%=posts[i]._id%>">
                            <%= posts[i].title %>
                        </a></td>
                    <td>
                        <%= posts[i].writer %>
                    </td>
                    <td>
                        <%= posts[i].date %>
                    </td>
                    <td>
                        <button class="del_todd" data-id="<%= posts[i]._id %>">삭제</button>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        // 삭제버튼 클릭
        $('.del_todd').click(e => {
            let post_id = e.target.dataset.id;
            $.ajax({
                method: 'DELETE',
                url: '/delete',
                data: { _id: post_id }
                })
                .done(res => {
                    // 게시물 사라지게
                    $(`#post${post_id}`).fadeOut();
                })
                .fail(err => {
                    console.log(err)
                })
        });
    </script>
</body>

</html>