<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">/
    <title>Document</title>
    <style>
        .m30 {
            margin-left: 30px;
        }

        .inputbox {
            border: 1px solid #999;
            width: 180px;
        }

        input {
            border: none;
        }

        textarea {
            border: none;
        }
    </style>
</head>

<body>

    <div class="navbar m30">
        <h1 onclick="location.href='/'">Index</h1>
        <a href="/login">login</a>
        <a href="/register">register</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
    </div>

    <hr>
    <div class="m30">
        <form action="/todo" method="post">
            <h2>post</h2>
            <p>
            <div class="inputbox">
                <input type="text" name="title" placeholder="제목"><br>
                <textarea name="content" placeholder="내용을 입력하세요" cols="22" rows="5"></textarea>
            </div>
            </p>
            <input type="hidden" name="date" id="v_date">
            <input type="submit" class="btn btn-primary btn-sm"value="Save!">
        </form>
    </div>
    <br>
    <div class="m30">
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </thead>
            <tbody>
                <% for(let i=posts.length-1; i>= 0; i--) { %>
                    <tr id="post<%=posts[i]._id%>">
                        <td>
                            <%=posts[i]._id%>
                        </td>
                        <td><a href="/detail/<%=posts[i]._id%>">
                            <%= posts[i].title %>
                        </a></td>
                        <td>
                            <%= posts[i].writer %>
                        </td>
                        <td>
                            <%= posts[i].date %>
                        </td>
                        <td>
                            <button class="del_todd btn btn-danger btn-sm" data-id="<%= posts[i]._id %>">
                                삭제
                            </button>
                            
                        </td>
                    </tr>
                    <% } %>
                </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        const v_date = document.querySelector('#v_date');
        window.onload = () => {
            v_date.value = new Date().toISOString().substring(0, 10);
        }

        // 삭제버튼 클릭
        $('.del_todd').click(e => {
            let post_id = e.target.dataset.id;
            $.ajax({
                method: 'DELETE',
                url: '/delete',
                data: { _id: post_id }
            }).done(res => {
                $(`#post${post_id}`).fadeOut();
            }).fail(err => { console.log(err) });
        });
    </script>
</body>

</html>